body {
	
	background-color:#c2f6c6;
	margin:0;
	padding:0;
	
}
.content {
    position: relative;
    text-align: center;
    color: black;
}




/* Centered  list */
.list {
    position:absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tasks */

.tasks {
list-style-type:none;
margin:0;
padding:0;
font-size:1.5em;

}

/* Tasks line  styling */
.tasks li {
	
	border-bottom: 1px dashed #ccc;
	padding:15px ; 
	}
	
	
	.tasks li:hover .done-button {
		
		opacity:1;
		
	}

/*done button*/
.done-button {
	
	background-color:pink;
	display:inline-block;
	padding: 3px 6px;
	opacity:0.5;
	font-size:0.7em;
	 text-decoration: none;
	 top:-2px;
	 position:relative;
	
	
	}
	
	.tasks .task.done {
		
	text-decoration:line-through; 
		
	}
	
	
	
	.input {
		
		padding:10px ; 
		
	}
	
	
	
	
	/*submit button styling*/
	.submit {
		background-color:#fa9c9c;
		border: 1px solid #f8383a;
		color:black;
		border-radius: 12px;
		box-shadow: 3px 3px 0 #ddd;
	}


/*Footer*/


footer {
    
    text-align: center;
    color:
    
    
}